{
  "presets": [
    "react",
    [
      "env", {
        "modules": false
      }
    ],
    [
      "es2015",
      {
        "modules": false
      }
    ]
  ],
  "env": {
    "test": {
      "presets": ["env", "es2015"]
    }
  },
  "plugins": [
    "syntax-dynamic-import",
    "transform-object-rest-spread",
    "react-hot-loader/babel"
  ]
}
